body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}


.page {
  text-align: center;
  color: white;
  display: none;
}

.page.active {
  display: block;
}

.navigation {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
